# Set and Booleans

There are two other object types in Python that we should cover: Sets and Booleans. 

## Sets

Sets are an unordered collection of *unique* elements. We can construct them by using the set() function. Let's go ahead and make a set to see how it works

In [1]:
x = [3,2,2,2,2,3,7,"a",88,9,9]
y=(3,3,3,5,6.7,3)

z = set(y)
z

{3, 5, 6.7}

In [3]:
a = set(x)
a

set()

In [4]:
a

set()

In [1]:
x = set()

In [22]:
# We add to sets with the add() method
x.add(0)

In [23]:
x.add(2)

In [24]:
x.add('smriti')

In [25]:
#Show
x

{0, 2, 'smriti'}

Note the curly brackets. This does not indicate a dictionary! Although you can draw analogies as a set being a dictionary with only keys.

We know that a set has only unique entries. So what happens when we try to add something that is already in a set?

In [26]:
# Add a different element
x.add(2)

In [27]:
#Show
x

{0, 2, 'smriti'}

In [29]:
# Try to add the same element
x.add(1)
x.add(-4)
x.add(5)
x.add("%8*")
x.add("add")
x.add("tan")
x

{'%8*', -4, 0, 1, 2, 5, 'add', 'smriti', 'tan'}

In [30]:
#Show
x + "add something new"

TypeError: unsupported operand type(s) for +: 'set' and 'str'

how it won't place another 1 there. That's because a set is only concerned with unique elements! We can cast a list with multiple repeat elements to a set to get the unique elements.

In [31]:
# Create a list with repeats
list1 = [1,1,2,2,3,4,5,6,1,1]

In [32]:
# Cast as set to get unique values
set(list1)

{1, 2, 3, 4, 5, 6}

# Booleans : r logc

Python  comes with Booleans (with predefined True and False displays that are basically just the integers 1 and 0). It also has a placeholder object called None. Let's walk through a few quick examples of Booleans (we will dive deeper into them later in this course).

In [33]:
# Set object to be a boolean
a = True
a

True

In [34]:
#Show
type(a)

bool

We can also use comparison operators to create booleans. We will go over all the comparison operators later on in the course.

In [35]:
# Output is boolean
34 >= 3

True

We can use None as a placeholder for an object that we don't want to reassign yet:

In [36]:
# None placeholder
b = None
b = [1,2,3]
b

[1, 2, 3]

In [37]:
# Show
print(b)

[1, 2, 3]


print(b)

In [7]:
x ="alcoholic arrogence selfishness ".split()
x

['alcoholic', 'arrogence', 'selfishness']